<ion-header>
  <ion-toolbar>
    <ion-title>Page1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <div id="title">
      <h2>Chat with your friends</h2>
    </div>

    <div class="avatars">
        <ion-avatar class="avatar-images">
          <img src="https://tse1.mm.bing.net/th?id=OIP.BES75jVtb8DcqOIYLT74KQHaHa&pid=Api&P=0&w=300&h=300">
        </ion-avatar>
  
        <ion-avatar class="avatar-images" slot="start">
          <img src="https://tse2.mm.bing.net/th?id=OIP.w1xwJFCga8lD_GmQNwGfRgAAAA&pid=Api&P=0&w=300&h=300">
        </ion-avatar>

        <ion-avatar class="avatar-images" slot="start">
          <img src="https://tse1.mm.bing.net/th?id=OIP.D-TSF-rMqM6mfVrTL7nv9AAAAA&pid=Api&P=0&w=300&h=300">
        </ion-avatar>

        <ion-avatar class="avatar-images" slot="start">
          <img src="https://tse3.mm.bing.net/th?id=OIP.GNn0P_JzfcPjyJ11esEa9AHaHa&pid=Api&P=0&w=300&h=300">
        </ion-avatar>

        <ion-avatar class="avatar-images" slot="start">
          <img src="https://tse2.mm.bing.net/th?id=OIP.KUAzRGnSiinY1r9ngZ9pTwHaHa&pid=Api&P=0&w=300&h=300">
        </ion-avatar>
      
    </div>

    <div class="contacts">
      <div class="friends" style="margin-top: 10%;">
        <ion-avatar class="friends-avatar-images" slot="start">
          <img src="https://tse2.mm.bing.net/th?id=OIP.w1xwJFCga8lD_GmQNwGfRgAAAA&pid=Api&P=0&w=300&h=300">
        </ion-avatar>

        <div id="information">
          <h4 style="font-size: 14px; font-weight: 900;">Justin O'Moore  <span style="font-size: 12px; font-weight: 100; color: rgb(2, 170, 170); margin-left: 70px;">18:32</span></h4>
          <p style="font-size: 13px; font-weight: 500;">Hey there! What's up? Is everything...</p>
        </div>
      </div>

      <div class="friends">
        <ion-avatar class="friends-avatar-images" slot="start">
          <img src="https://tse1.mm.bing.net/th?id=OIP.D-TSF-rMqM6mfVrTL7nv9AAAAA&pid=Api&P=0&w=300&h=300">
        </ion-avatar>

        <div id="information">
          <h4 style="font-size: 14px; font-weight: 900;">Alaya Cordova <span style="font-size: 12px; font-weight: 100; color: rgb(2, 170, 170); margin-left: 75px;">14:05</span></h4>
          <p style="font-size: 13px; font-weight: 500;">Can I call you back later? I'm in a...</p>
        </div>
      </div>

      <div class="friends">
        <ion-avatar class="friends-avatar-images" slot="start">
          <img src="https://tse3.mm.bing.net/th?id=OIP.GNn0P_JzfcPjyJ11esEa9AHaHa&pid=Api&P=0&w=300&h=300">
        </ion-avatar>

        <div id="information">
          <h4 style="font-size: 14px; font-weight: 900;">Eathan Sheridan <span style="font-size: 12px; font-weight: 100; color: rgb(2, 170, 170); margin-left: 59px;">14:00</span></h4>
          <p style="font-size: 13px; font-weight: 500;">Yeah. Do you have any good song...</p>
        </div>
      </div>

      <div class="friends">
        <ion-avatar class="friends-avatar-images" slot="start">
          <img src="https://tse2.mm.bing.net/th?id=OIP.w1xwJFCga8lD_GmQNwGfRgAAAA&pid=Api&P=0&w=300&h=300">
        </ion-avatar>

        <div id="information">
          <h4 style="font-size: 14px; font-weight: 900;">Cecily Trujillo <span style="font-size: 12px; font-weight: 100; color: rgb(2, 170, 170); margin-left: 80px;">13:35</span></h4>
          <p style="font-size: 13px; font-weight: 500;">Hi! I went shopping and fou...</p>
        </div>
      </div>

      <div class="friends">
        <ion-avatar class="friends-avatar-images" slot="start">
          <img src="https://tse2.mm.bing.net/th?id=OIP.KUAzRGnSiinY1r9ngZ9pTwHaHa&pid=Api&P=0&w=300&h=300">
        </ion-avatar>

        <div id="information">
          <h4 style="font-size: 14px; font-weight: 900;">Komal Orr <span style="font-size: 12px; font-weight: 100; color: rgb(2, 170, 170); margin-left: 108px;">12:11</span></h4>
          <p style="font-size: 13px; font-weight: 500;">I passed you on the ride into work...</p>
        </div>
      </div>
      
    </div>
  </div>
</ion-content>